<?xml version="1.0"?>
<config version="1.0" serial="31" timestamp="1231134521.48">
  <Lib>
    <Account>
      <IdleTimeForAway>300</IdleTimeForAway>
      <IdleTimeForNA>1800</IdleTimeForNA>
      <Migration>33</Migration>
    </Account>
    <Call>
      <DPC>41010300726168756C2E736861726D61393500</DPC>
    </Call>
    <CentralStorage>
      <LastBackoff>0</LastBackoff>
      <LastFailure>0</LastFailure>
      <LastSync>1231134518</LastSync>
      <NeedSync>0</NeedSync>
      <SyncSet>
        <p>
          <avatar>734a446f:2</avatar>
          <email>a38d0e63:2</email>
        </p>
        <u>
          <anushth>21b7e844:2</anushth>
          <arjun.2Esharma5>8232549a:2</arjun.2Esharma5>
          <icbaid>a20add27:2</icbaid>
          <nitesh.2Earora_globallogic.2Ecom>46a16b86:2</nitesh.2Earora_globallogic.2Ecom>
          <psagaraconex>7f7a3f4f:2</psagaraconex>
          <rahul.2Esharma95>9a6e756e:2</rahul.2Esharma95>
          <ritu.2Esharma.2Eus>a4ad6939:2</ritu.2Esharma.2Eus>
          <ritu_sharma>a238584f:2</ritu_sharma>
          <rtmremind>ebf9b361:2</rtmremind>
          <sharma_vijaysai>3aa3df6:2</sharma_vijaysai>
          <talwarmanoj>af714ff4:2</talwarmanoj>
        </u>
      </SyncSet>
    </CentralStorage>
    <Chat>
      <ActivityTS>1</ActivityTS>
      <DialogPartner>3</DialogPartner>
      <MigrationDone>1231132941</MigrationDone>
    </Chat>
    <Notification>
      <LastID>978673719</LastID>
      <LastPoll>1231134519</LastPoll>
      <LastSearch>1231134519</LastSearch>
    </Notification>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>41070093200100F8010000FA010000F5010200892094BE86CB0400FC0111008620B1BE86CB04</PermaProps>
    </PropsManager>
    <table_insert_history>
      <ba49f138c53ce6ffa50b5c0dbab3cc9ff0706d66962c0aa695f0cca5fc17c4be>1231219344 15016:21600:1231132944 37386:7200:1231132944</ba49f138c53ce6ffa50b5c0dbab3cc9ff0706d66962c0aa695f0cca5fc17c4be>
    </table_insert_history>
  </Lib>
</config>
