.searchbar-textbox {
  -moz-appearance: none !important;
  min-height: 22px;
  width: 6em;
  min-width: 6em;
  height: 27px !important;
  border: 1px solid #c5cde2 !important;
  -moz-border-radius: 6px !important;
  -moz-border-top-colors: #c5cde2;
  -moz-border-right-colors: #c5cde2;
  -moz-border-bottom-colors: #c5cde2;
  -moz-border-left-colors: #c5cde2;
  margin: 0 3px 0 1px !important;
}

.textbox-input-box {
  margin: 0;
}

.textbox-input {
  padding: 0 0 2px 2px !important;
  font-size: 13px !important;
  color: #b2b2b2 !important;
}
.textbox-input:focus {
  color: #000 !important;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  -moz-margin-start: 4px;
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  -moz-margin-end: 3px;
  padding: 0 1px 1px 1px;
  height: 1.23em;
  min-height: 25px;
  -moz-box-align: center;
  background: -moz-dialog url("chrome://communicator/skin/toolbar-button-bg.png") repeat-x;
  border: 0 solid;
  border-right-width: 1px;
  -moz-border-right-colors: #dee1ee;
  -moz-border-radius-topleft: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
}

.searchbar-engine-button:hover {
  background: #f7fbff !important;
  background-image: none !important;
}

.searchbar-engine-button[chromedir="rtl"] {
  border-right-width: 0;
  border-left-width: 1px;
  -moz-border-left-colors: ThreeDShadow;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  -moz-padding-end: 3px;
  border: 0;
}

.searchbar-engine-button[addengines="true"] > .button-box {
  background: transparent url(chrome://browser/skin/Search-addengines.png) no-repeat right center;
}

.searchbar-engine-button[addengines="true"][chromedir="rtl"] > .button-box {
  background-position: left center;
}

.searchbar-dropmarker-image {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  -moz-margin-start: 3px;
  margin-top: 1px;
}

/* ::::: search-go-button ::::: */

.search-go-container {
  -moz-box-align: center;
  /* display: none !important; */
}

.searchbar-textbox:not([focused="true"]) .search-go-button {
	visibility: hidden;
}
.searchbar-textbox:not([focused="true"]) .search-go-button:hover, 
.searchbar-textbox:not([focused="true"]) .search-go-button:hover:active {
	visibility: visible;
}

.search-go-button {
  margin-right: 3px;
  padding: 1px 2px 3px 1px;
  list-style-image: url("chrome://browser/skin/Go-arrow.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

.search-go-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}

.search-go-button:hover:active {
  -moz-image-region: rect(32px 16px 48px 0px);
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}
