#fd-button {
  list-style-image: url(chrome://fastdial/skin/toolbar.png);
  -moz-image-region: rect(0px 24px 24px 0px);
}

#fd-button:hover {
  -moz-image-region: rect(24px 24px 48px 0px);
}

toolbar[iconsize="small"] #fd-button {
  list-style-image: url(chrome://fastdial/skin/toolbar_small.png);
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #fd-button:hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}

#fd-button > toolbarbutton > image {
  margin: 0;
}
