@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace svg url("http://www.w3.org/2000/svg");

/* ::::: Keyboard UI Panel ::::: */
.KUI-panel {
  -moz-appearance: none;
  background: rgba(0, 0, 0, .8) url(texture.png) repeat-x;
  color: white;
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  margin-top: -1px;
  margin-left: -1px;
}

.KUI-panel-closebutton {
  list-style-image: url(close.png);
  -moz-appearance: none;
  border: none !important;
}

.KUI-panel-closebutton:not(:hover) {
  opacity: .6;
}

/* ::::: Ctrl-Tab Panel ::::: */
#ctrlTab-panel {
  margin-top: -20px;
  border-bottom-width: 9px;
  -moz-border-bottom-colors: #ccc black black black black black black black black;
}

#ctrlTab-label {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 10px;
}

svg|*.ctrlTab-thumbnailborder {
  stroke: white;
  stroke-width: 1px;
  fill: transparent;
}

svg|*.ctrlTab-icon {
  filter: url(chrome://browser/content/browser.xul#ctrlTab-iconShadow);
}

svg|*#ctrlTab-fadeGradientTop {
  stop-color: black;
  stop-opacity: .5;
}

svg|*#ctrlTab-fadeGradientBottom {
  stop-color: black;
  stop-opacity: 1;
}


/* ::::: All Tabs Panel ::::: */

.tabs-alltabs-button > .toolbarbutton-icon {
  display: -moz-box;
  margin: 6px 0 4px;
  list-style-image: url(allTabs.png) !important;
  -moz-image-region: auto !important;
}

#allTabs-panel {
  margin-top: -35px;
  margin-left: -8px;
  padding: 5px 5px 15px;
}

#allTabs-filter {
  width: 14em;
  font-size: 1.4em;
  -moz-appearance: none;
  background: rgba(0, 0, 0, .5);
  border: 1px solid white;
  -moz-border-radius: .5em;
  color: inherit;
}

#allTabs-filter[empty="true"] {
  color: #aaa;
}

.allTabs-box > .button-box {
  border: none;
}

.allTabs-box:focus {
  outline: 1px dotted white;
}

.allTabs-thumbnail {
  outline: 6px solid rgba(255, 255, 255, .2);
  -moz-outline-radius: 7px;
}

.allTabs-box[selected="true"] > .allTabs-thumbnail {
  outline-color: rgba(50, 170, 255, .5);
}

.allTabs-box:focus > .allTabs-thumbnail ,
.allTabs-box:hover > .allTabs-thumbnail {
  outline-color: rgb(40, 120, 255);
}
